._container{
    display: flex;
    align-items: center;
    justify-content: center;
}
._signUp{
    display: flex;
    text-align: right;
    justify-content: right;
}
.container{
    border: 2px solid #e7dfef;
    padding: 20px;
    border-radius: 10px;
}
._not_member{
    margin-right: 10px;
}
.error_message{
    color: red;
    
}